@model ProMedi.Models.Paciente
@{
    ViewData["Title"] = "Crear Paciente";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo paciente</h3>
<form method="POST" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border py-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Apellidos"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Apellidos" class="form-control" placeholder="Ingresa los apellidos" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="FechaNacimiento"></label>
                </div>
                <div class="col-8">
                    <input asp-for="FechaNacimiento" type="date" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Numero"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Numero" type="number" class="form-control" placeholder="Ingresa el número de contacto" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-4">
                <div class="col-12 text-center">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.3/tinymce.min.js" integrity="sha512-VCEWnpOl7PIhbYMcb64pqGZYez41C2uws/M/mDdGPy+vtEJHd9BqbShE4/VNnnZdr7YCPOjd+CBmYca/7WWWCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>
}
